/* Start Global Rules */
:root {
    --links-bgc: #24484f;
    --main-color: #10CAB7;
    --gray-color: #F6F6F6;
    --p-services: #4D4C4C;
    --bgc-section: #FAFAFA;
    --third-color: #1F2021;
    --second-color: #2C4755;
    --light-gray-color: #575757;
    --top-bottom-section-padding: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
p {
    line-height: 1.8;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 540px;
    }
}
.text-heading {
    text-align: center;
    margin-bottom: 80px;
}
.text-heading h2 {
    margin: 0;
    font-size: 162px;
    letter-spacing: -9px;
    color: var(--gray-color);
}
.text-heading p {
    font-size: 25px;
    margin-top: -70px;
    color: var(--light-gray-color);
}
@media screen and (max-width: 767px) {
    .text-heading h2 {
        font-size: 77px;
    }
    .text-heading p {
        font-size: 16px;
        margin-top: -39px;
    }
}
/* End Global Rules */
/* Start Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px;
    background-color: white;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 70px;
}
header nav {
    position: relative;
    cursor: pointer;
}
header .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
header .icon span {
    height: 2px;
    margin-bottom: 5px;
    background-color: var(--links-bgc);
}
header .icon span:first-of-type {
    width: 100%;
}
header .icon span:nth-of-type(2) {
    width: 60%;
    transition: width .3s;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
}
header .icon span:last-of-type {
    width: 100%;
}
header nav:hover span:nth-of-type(2) {
    width: 100%;
}
header ul {
    background-color: var(--gray-color);
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    display: none;
    min-width: 150px;
}
header ul::before {
    content: "";
    right: 0;
    bottom: 100%;
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent var(--gray-color) transparent;
}
header nav:hover ul {
    display: block;
}
header nav a {
    display: block;
    padding: 10px 15px;
    color: var(--second-color);
    transition: padding-left .3s;
    -webkit-transition: padding-left .3s;
    -moz-transition: padding-left .3s;
    -ms-transition: padding-left .3s;
    -o-transition: padding-left .3s;
}
header nav li:not(:last-of-type) {
    border-bottom: 1px solid #DDD;
}
header nav li:hover a {
    padding-left: 25px;
}
/* End Header */
/* Start Intro Section */
main section:first-of-type {
    height: calc(100vh - 58px);
    background-image: url(../imgs/mountain.jpg);
    background-position: center;
    background-size: cover;
}
section:first-of-type .intro-text {
    width: 420px;
    max-width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
section:first-of-type h1 {
    color: var(--main-color);
    font-weight: 900;
    font-size: 55px;
}
section:first-of-type p {
    color: var(--second-color);
    font-size: 20px;
}
/* End Intro Section */
/* Start Features Section */
section:nth-of-type(2) {
    background-color: var(--bgc-section);
    padding: var(--top-bottom-section-padding) 0;
}
section:nth-of-type(2) .container {
    display: grid;
    gap: 30px 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
section:nth-of-type(2) div {
    padding: 0 10px;
    text-align: center;
}
section:nth-of-type(2) h3 {
    margin: 10px 0;
    font-size: 20px;
    color: var(--second-color);
}
section:nth-of-type(2) p {
    font-size: 15px;
    color: var(--light-gray-color);
}
/* End Features Section */
/* Start Services Section */
section:nth-of-type(3) {
    padding: var(--top-bottom-section-padding) 0;
}
section:nth-of-type(3) .services {
    display: grid;
    gap: 30px 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
section:nth-of-type(3) .col > div {
    display: flex;
    gap: 0 25px;
    margin-bottom: 30px;
    align-items: flex-start;
    justify-content: flex-start;
}
section:nth-of-type(3) .col h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--third-color);
}
section:nth-of-type(3) .col p {
    font-size: 15px;
    color: var(--p-services);
}
section:nth-of-type(3) .image-content {
    text-align: center;
    position: relative;
}
section:nth-of-type(3) .image-content::after {
    content: "";
    position: absolute;
    right: 0;
    top: -35px;
    z-index: -1;
    width: 100px;
    height: calc(100% + 70px);
    background-color: var(--second-color);
}
section:nth-of-type(3) .image-content img {
    width: 70%;
    max-height: 333px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
@media screen and (max-width: 991px) {
    section:nth-of-type(3) .services > div:last-of-type {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    section:nth-of-type(3) .col > div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    section:nth-of-type(3) .col h3 {
        margin: 15px 0;
    }
}
/* End Services Section */
/* Start Portfolio Section */
section:nth-of-type(4) {
    background-color: var(--bgc-section);
    padding: var(--top-bottom-section-padding) 0;
}
section:nth-of-type(4) .portfolio-content {
    display: grid;
    gap: 30px 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
section:nth-of-type(4) .card .info-card {
    padding: 20px;
    background-color: white;
}
section:nth-of-type(4) .card img {
    width: 100%;
}
section:nth-of-type(4) .card p {
    margin-top: 10px;
    color: var(--p-services);
}
/* End Portfolio Section */
/* Start About Section */
section:nth-of-type(5) {
    padding: var(--top-bottom-section-padding) 0 calc(var(--top-bottom-section-padding) + 40px);
}
section:nth-of-type(5) .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section:nth-of-type(5) .image {
    position: relative;
}
section:nth-of-type(5) .image img {
    max-width: 100%;
}
section:nth-of-type(5) .image::before {
    content: "";
    position: absolute;
    top: -40px;
    z-index: -1;
    left: -20px;
    width: 100px;
    height: calc(100% + 80px);
    background-color: var(--bgc-section);
}
section:nth-of-type(5) .image::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 70%;
    z-index: -1;
    top: -40px;
    left: 80%;
    border-left: 100px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
}
section:nth-of-type(5) .info-about {
    flex-basis: calc(100% - 500px);
}
section:nth-of-type(5) .info-about p:first-of-type {
    color: #334752;
    font-weight: 900;
    line-height: 2;
}
section:nth-of-type(5) .info-about hr {
    border-color: var(--main-color);
    display: inline-block;
    margin: 20px 0;
    width: 50%;
}
section:nth-of-type(5) .info-about p:last-of-type {
    color: var(--light-gray-color);
    font-size: 15px;
    line-height: 2;
}
@media screen and (max-width: 991px) {
    section:nth-of-type(5) {
        padding: var(--top-bottom-section-padding) 0;
    }
    section:nth-of-type(5) .about-content {
        flex-direction: column;
    }
    section:nth-of-type(5) .image::before,
    section:nth-of-type(5) .image::after {
        display: none;
    }
    section:nth-of-type(5) .image {
        margin-bottom: 40px;
    }
    section:nth-of-type(5) .info-about {
        text-align: center;
    }
}
/* End About Section */
/* Start Contact Section */
section:nth-of-type(6) {
    background-color: var(--bgc-section);
    padding: var(--top-bottom-section-padding) 0;
}
section:nth-of-type(6) .contact-content {
    text-align: center;
    margin: 30px 0;
}
section:nth-of-type(6) .contact-content p {
    font-size: 35px;
    font-weight: 800;
    color: var(--second-color);
}
section:nth-of-type(6) .contact-content a {
    display: block;
    margin: 10px 0;
    font-size: 35px;
    font-weight: 800;
    word-wrap: break-word;
    color: var(--main-color);
}
section:nth-of-type(6) .contact-content .social-media {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section:nth-of-type(6) .contact-content .social-media i {
    margin-left: 10px;
    color: var(--second-color);
}
@media screen and (max-width: 767px) {
    section:nth-of-type(6) .contact-content p,
    section:nth-of-type(6) .contact-content a {
        font-size: 22px;
    }
    section:nth-of-type(6) .contact-content .social-media {
        font-size: 16px;
    }
}
/* End Contact Section */
/* Start Footer */
footer {
    color: white;
    padding: 20px 0;
    font-weight: 600;
    text-align: center;
    background-color: var(--second-color);
}
footer span {
    color: var(--main-color);
}
/* End Footer */
